{
  "svelteSortOrder": "scripts-options-markup-styles",
  "semi": false,
  "useTabs": false,
  "singleQuote": false,
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
