@import "tailwindcss";
@import "@fontsource/fira-mono";

html {
  @apply scroll-smooth;
}

a.text-link {
  @apply text-blue-900 underline hover:text-blue-700 hover:no-underline;
}

body {
  background-color: #dbeafe;
  overflow-x: hidden;
  overflow-y: overlay;
}
